
*{
	margin:0px;
	padding:0px;
}
.cnt{
	width:1100px;
  margin: 0px auto;
}
header{
	background-color:#171717;
	height:65px;
}
section{
	background-color:#f6f5f5;
}
.himl{
 margin-top:10px;
 float: left;
}
.htmr{
  margin-top:20px; 
  font-size: 18px;
  font-family: mpr;
  float: right;
  color:#fff;
}
.t1{
	margin-left:30px;
	font-size:18px;
	margin-top:20px;
}
.t2{
	padding:20px 0px;
}
.bl3{
	background-color:#251828;	
}
.bl4{
	background-image:url('img/rad.png');
	height:880px;
}
.bl5{
	padding: 360px 255px;

}
.t5{
	margin-left:190px;
	padding: 15px 30px;
	background-color:#003ed4;
}
.t7{
	margin-top:-50px;
	width:1100px;
}
.bl6{
	margin-top:70px;
}
.bl7{
	margin-top:10px;
}
.tx{
	margin-top:-110px;
	margin-left:30px;
}
.t9{
	margin-top: 10px;
}
.t10{
   margin-left:450px;
   padding: 15px 30px;
   background-color:#d60b4e;
   margin-top:40px;
}
.bl9{
 background-color:white;
 padding:50px 70px 55px 75px;
 margin-top:65px;
 width:370px;
}
.t11{
	margin-bottom: 25px;
}
.bl12{
	margin-left:55px;
}
.cv{
	margin:5px;
}
.t14{
	margin-top:20px;
}
.tx2{
	margin-top:-300px;
   width:520px;
}
.t17{
	padding: 10px 45px;
	border:3px solid white;
	margin-left:160px;
	margin-top:40px;
}
.t16{
	margin-top:20px;
}
.bl13{
	margin-top:130px;
}
.bl15{
	background-image:url('img/rmk.png');
	width:1035px;
	height:270px;
	padding-left:65px;
	padding-top:125px;
	margin-top:265px;
}
.t19{
	margin-left:0px;
}
.bl16{
	margin-top:-592px;
	margin-left:350px;
}
.bl17{
	background-image:url('img/ked.png');
	padding-top:80px;
	padding-left:55px;	
	padding-right:550px;
	padding-bottom:80px;
	margin-top:160px;
}
.bl19{
	margin-top:25px;
}
.t21{
	margin-top:40px;
}

.bl20{
	margin:40px 240px;
}
.bl21{
 margin-top:20px;
}
.t25{
 margin-top:50px;
}
.bl22{
	margin-top:45px;
}
.t27{
	margin-top:-56.7px;
}
.t26{
    margin-top:37px;
}
.t32{
	margin-left:115px;
}
.bl24{
	background-color: #efefef;
	padding-top:40px;
	margin-bottom:35px;
}